.YieldCard{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 0.7rem;
    /* height: 250px; */
    width: 40rem;
    box-shadow: 5px 5px 15px 0px #19302b28;
    /* margin-top: 10px; */
    padding: 10px;
}

.YieldTopBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 50px;
}

.Title{
    font-size: 20px;
    font-weight: bold;
}

button{
    margin-left: 5px;
    border: none;
    background: #f2fffb;
    box-shadow: inset 2px 2px 5px 0px #19302b33;
}

button:hover{
    box-shadow: inset 2px 2px 5px 0px #19302b65;
    background: #FFCC7A;
    cursor: pointer;
}