.Table{
    box-shadow: 5px 5px 15px 0px #19302b2a;
    flex: 1;
}

.TableHead{
    background-color: #83ceb7;
}
.TableHeadCell>TableRow>TableCell{
    color: blueviolet;
}
/* Responsive to smaller screen size */
/* @media screen and (max-width: 1200px) {
    .Table {
      width: 170%;
      margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Table{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
} */